<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym Workout Routines</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-page="/Workouts/Cardio">Cardio</a></li>
                <li><a asp-page="/Workouts/Strength">Strength</a></li>
                <li><a asp-page="/Workouts/Flexibilty">Flexibility</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - Gym Workout Routines</p>
    </footer>
</body>
</html>
