@page
@model GymWorkoutRoutines.Pages.Workouts.CardioModel
@{
    ViewData["Title"] = "Cardio Workouts";
}

<h1>Cardio Workouts</h1>
<ul>
    <li>Running</li>
    <li>Cycling</li>
    <li>Swimming</li>
</ul>
