@page
@model GymWorkoutRoutines.Pages.Workouts.FlexibilityModel
@{
    ViewData["Title"] = "Flexibility Workouts";
}

<h1>Flexibility Workouts</h1>
<ul>
    <li>Yoga</li>
    <li>Pilates</li>
    <li>Stretching Exercises</li>
</ul>
