@page
@model GymWorkoutRoutines.Pages.Workouts.StrengthModel
@{
    ViewData["Title"] = "Strength Workouts";
}

<h1>Strength Workouts</h1>
<ul>
    <li>Weightlifting</li>
    <li>Bodyweight Exercises</li>
    <li>Resistance Bands</li>
</ul>
